# Server Environment Configuration Template
PORT=8080
JWT_SECRET=YOUR_SECURE_JWT_SECRET_HERE

# PostgreSQL Database config (Used when USE_SQLITE is false/unset)
DB_NAME=pos_inventory_db
DB_USER=postgres
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=localhost
DB_PORT=5432

# Set to true to use sqlite database instead of postgres
USE_SQLITE=true
